html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Afacad", sans-serif;
    display: flex;
    flex-direction: column;

}

p {
    padding: 3%;
    padding-left: 3%;
}

main {
    flex: 1;
}

nav {
    height: 80px;
    width: 100%;

}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 20px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.backgroundImage {
    background-image: url(pinkRoses.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

h1 {
    color: #D85ABA;
}


footer {
    background-color: #B9D7C1;
    padding: 5px;
}

.social-icons {
    text-align: right;
    padding-right: 50px;
    color: white;
}

.banner_img {
    background-image: url("images/whiteLilies.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin: 30px auto;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

img {
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 5px;
    width: 200px;

}

.image-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

input {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    order: 2;
}

.logo {
    order: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    order: 3;
}

/* Responsive styles */
@media (max-width: 600px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #menu-toggle:checked~.nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .logo {
        margin: 0;
    }
}